.sidebar {
  background-color: rgba(251, 251, 255);
  position: fixed;
  height: calc(100vh - 80px);
  flex: 1;
  top: 80px;
}
.sidebar__wrapper {
  color: #555;
  padding: 30px;
}
.sidebar__menu {
  margin-bottom: 10px;
}
.sidebar__title {
  color: rgb(128, 130, 138);
  font-size: 17px;
  padding-bottom: 10px;
}
.sidebar__list {
  list-style: none;
  padding: 6px;
}
.sidebar__list-item {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.sidebar__list-item.active,
.sidebar__list-item:hover {
  background-color: #eee;
}
.sidebar__list-icon {
  font-size: 20px !important;
  margin-right: 15px;
}
