.sidebar {
  background-color: rgba(251, 251, 255);
  position: sticky;
  height: calc(100vh - 60px);
  flex: 1;
  top: 40px;
}
.sidebar__wrapper {
  color: #555;
  padding: 30px;
}
.sidebar__menu {
  margin-bottom: 10px;
}
.sidebar__title {
  color: rgb(148, 149, 154);
  font-size: 18px;
  padding-bottom: 10px;
  opacity: 0.7;
}
.sidebar__list {
  list-style: none;
  padding: 6px;
}
.sidebar__list-item {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.sidebar__list-item.active,
.sidebar__list-item:hover {
  background-color: #f8f7f7f5;
}
.sidebar__list-icon {
  font-size: 20px !important;
  margin-right: 19px;
}
